$dark-magenta: hsl(300, 43%, 22%);
$soft-pink: hsl(333, 80%, 67%);
$dark-grayish-magenta: hsl(303, 10%, 53%);
$light-grayish-magenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);
$primary-font: "League Spartan";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "League Spartan", "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  padding: 0;
}

.app-container {
  height: 100%;
  background-image: url(/assets/bg-pattern-top-mobile.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  width: 100%;

  header {
    text-align: center;
    padding: 14px;

    .header__title {
      color: $dark-magenta;
      font-size: 3rem;
    }

    .header__description {
      color: $dark-magenta;
      font-weight: 400;
      padding: 0 14px;
      line-height: 1.5;
    }
  }

  .reviews {
    width: 90%;
    text-align: center;
    border-radius: 15%;
    margin-left: 20px;

    .reviews__score {
      background-color: $light-grayish-magenta;
      margin: 10px;
      padding: 3px;

      .reviews__stars {

        .reviews__stars--star {
          color: rgb(235, 151, 71);
        }
      }
    }
  }
  



}
